<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ec3b42d-bbbc-44e0-b142-2c67f09dca55" Alias="Banner 5 Tablo - Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Banner 5 Tablo - Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>