<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c98ef00c-3ea1-495b-bf2e-cdc9c5ab350a" Alias="[BlockList] İletişim Bilgisi" Level="1">
  <Info>
    <Name>[BlockList] İletişim Bilgisi</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "676e28e8-6af9-4bc0-a668-0f5c2652c9a1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{'İletişim Bilgisi ' + $index }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>