<?xml version="1.0" encoding="utf-8"?>
<DataType Key="988d60dc-42ce-4201-9bce-e26e5ade7497" Alias="[BlockList] PDF Ekle" Level="1">
  <Info>
    <Name>[BlockList] PDF Ekle</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "7da74692-fb4b-428f-a9a2-f605657f30ac",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{'PDF Ekle ' + $index }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>