<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d479a64e-fe4b-4dac-aa7a-ea5edb3736e4" Alias="[BlockList] Sosyal Medya Hesap Bilgisi" Level="1">
  <Info>
    <Name>[BlockList] Sosyal Medya Hesap Bilgisi</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "33146c67-0037-4308-bbce-8bd3c2dde1f4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{'Sosyal Medya Hesap Bilgisi  ' + $index }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>