<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1420006-fbb5-419d-81a8-648cdf46ce81" Alias="[BlockList] İçerik Bölümü" Level="1">
  <Info>
    <Name>[BlockList] İçerik Bölümü</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "705f4356-61a1-4499-9744-8891bb7bc8b1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{'İçerik Bölümü ' + $index }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>