<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cf6e984-b709-4af1-a73a-573a7d651fe1" Alias="İletişim Bilgisi - GSM - Repeatable textstrings" Level="1">
  <Info>
    <Name>İletişim Bilgisi - GSM - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>