<?xml version="1.0" encoding="utf-8"?>
<DataType Key="070acd7c-cd9c-4ec2-bf45-c74252790cc3" Alias="İletişim Bilgisi - E-Posta Adresleri - Repeatable textstrings" Level="1">
  <Info>
    <Name>İletişim Bilgisi - E-Posta Adresleri - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>