<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb1fda93-5c2e-44e0-a5b6-b7a145c56796" Alias="SEO - SEO Açıklaması - Textarea" Level="1">
  <Info>
    <Name>SEO - SEO Açıklaması - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 170,
  "Rows": null
}]]></Config>
</DataType>