<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2774af78-af7f-4c3d-8b7e-ee4d9a557e1d" Alias="Site - Schema Price Range - Dropdown" Level="1">
  <Info>
    <Name>Site - Schema Price Range - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "$"
    },
    {
      "id": 2,
      "value": "$$"
    },
    {
      "id": 3,
      "value": "$$$"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>