<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aed50781-f4b9-49b2-afc2-22a676c50912" Alias="Site - Google Tag Manager - Head - Textarea" Level="1">
  <Info>
    <Name>Site - Google Tag Manager - Head - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>