<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb80aa01-b5ad-4c60-bdad-3af11bdb0466" Alias="banner5Tablo" Level="4">
  <Info>
    <Name>Banner 5 Tablo</Name>
    <Icon>icon-science color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models/Nested+Content+Rows</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>106a826f-0953-42b5-a17e-49f1adbe2491</Key>
      <Name>Başlik</Name>
      <Alias>baslik</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/banner5Tablo">Banner 5 Tablo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f765228f-6d13-4530-b5cc-61998e8792e6</Key>
      <Name>Icon Kodu</Name>
      <Alias>iconKodu</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/banner5Tablo">Banner 5 Tablo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90dae5d6-7d08-48ff-9762-71f6e00d93e5</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>6ec3b42d-bbbc-44e0-b142-2c67f09dca55</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/banner5Tablo">Banner 5 Tablo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ac22c6d7-a266-40c3-a3a3-195a4146cb0c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>eadc5e0a-6b6e-4e76-9292-5d0a3c08468f</Key>
      <Caption>Banner 5 Tablo</Caption>
      <Alias>content/banner5Tablo</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>