<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1cc14078-23fe-4bc8-bf52-d4ae7bf430a6" Alias="docTypeMenuItem" Level="4">
  <Info>
    <Name>Menü Öğesi</Name>
    <Icon>icon-science color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models/Menu</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e9ddc35f-01ee-4944-8244-e5f69547894e</Key>
      <Name>Anchor</Name>
      <Alias>menuItemAnchorLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[# işaretinden sonraki kısım yazılır]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/menEsiZellikleri">Menü Öğesi Özellikleri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71e81689-e86e-4aa4-947e-3982c62a75d3</Key>
      <Name>Harici Bağlantı</Name>
      <Alias>menuItemExternalLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/menEsiZellikleri">Menü Öğesi Özellikleri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fba549d3-00a1-462b-91e0-c5c403a803cb</Key>
      <Name>Bağlantı</Name>
      <Alias>menuItemLinkedContent</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/menEsiZellikleri">Menü Öğesi Özellikleri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3e99dce-0f67-4932-bb77-e414f3f86633</Key>
      <Name>Mega Menu Dropdown</Name>
      <Alias>menuItemMegaMenuDropdown</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/menEsiZellikleri">Menü Öğesi Özellikleri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af20aeb9-1074-44ae-b517-8e9b1b7f3d9c</Key>
      <Name>Yeni Sekmede Aç</Name>
      <Alias>menuItemNewTab</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/menEsiZellikleri">Menü Öğesi Özellikleri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47fe3517-2edc-4c39-ae27-11b3bad14ce9</Key>
      <Name>Başlık</Name>
      <Alias>menuItemTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/menEsiZellikleri">Menü Öğesi Özellikleri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3d69a915-b640-4dbc-a19b-c1d62e10793e</Key>
      <Caption>Menü Öğesi Özellikleri</Caption>
      <Alias>content/menEsiZellikleri</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fe944a44-6b89-4974-8ddf-e7f4d3aa688f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>