<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="258fa53a-1465-4ef0-a824-8cd51d116a80" Alias="videoPDFEkle" Level="4">
  <Info>
    <Name>Video - PDF Ekle</Name>
    <Icon>icon-science color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models/Base+Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4c5c1c45-71bc-488d-ad79-53b4ad1c9205</Key>
      <Name>PDF Ekle</Name>
      <Alias>pDFEkle</Alias>
      <Definition>988d60dc-42ce-4201-9bce-e26e5ade7497</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/videoPDFEkle">Video - PDF Ekle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbf49843-d94d-4ca2-bc40-cbb692db0086</Key>
      <Name>Video Ekle</Name>
      <Alias>videoEkle</Alias>
      <Definition>9d8d3597-2eac-476d-b914-169f1eb89ed5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/videoPDFEkle">Video - PDF Ekle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8d1f7ce4-9e2f-410e-a8ab-3b025f9b9aca</Key>
      <Caption>Video - PDF Ekle</Caption>
      <Alias>content/videoPDFEkle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b191ae26-8961-4b4f-b7b5-83fd74ada338</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>